html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    color: #818181;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.55;
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: auto;
    font-family: sans-serif;
}
header{
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: #fff;
    padding:25px 0 30px 0;
    width: 1200px;
    height: 200px;
}


#header_left{
    float: left;
    margin:0 auto;
    padding: 18.5px
    
}


#firstnav{
    background-color:#6C5B79;
    font-size:1.5rem;
    margin:0;
    padding:0;
    width:500px;
    height:129px;
    display:inline-block;
    
}


#firstnav > ul{
    list-style: none;
    display:inline;
    margin:0 auto;
    padding:0;
    width:auto;
    height: auto; transform:translateY(1.3rem);
}

#firstnav >ul > li:nth-of-type(1){
    display:inline-block;
    width:140px;
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(2rem);
}
#firstnav > ul > li:nth-of-type(2){
    display:inline-block;
    width:140px;
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(2rem);
}

#firstnav > ul > li:nth-of-type(3){
    display:inline-block;
    width:140px;
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(2rem);
}
#firstnav ul li:nth-of-type(4){
    display:inline-block;
    width:140px;
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(2rem);
}
#firstnav ul li:nth-of-type(5){
    display:inline-block;
    float:left;
    width:140px;
    height:30px;
    text-align: center;
   background-color:#6C5B79;

    transform:translateY(2rem);
}
#firstnav ul li:nth-of-type(6){
    display:inline-block;
    width:140px;
    background-color:#6C5B79;
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(2rem);
}

#1nav ul li a{
    display:block;
    background-color:#6C5B79;
    text-decoration: none;
    color:white;
    height:30px;
    text-transform: uppercase;
}
#2_nav{
    font-size:1.5rem;
    margin:0;
    padding:0;
    width:500px;
    height:129px;
    display:inline-block;
    float:right;
}
#2_nav ul{
    list-style: none;
    display:block;
    margin:0 auto;
    padding:0;
    width: 138px;
    height: 35px;
    transform:translateY(1.3rem);
}
#2_nav ul li:nth-of-type(1){
    display: inline;
    text-align: center;
    float:left;
   position: relative;
    top: -32px; transform:translateY(2rem);
}
#2_nav ul li:nth-of-type(2){
    display:inline-block;
    width:auto;
    height:30px;
    position: relative;
    top: -35px;
    text-align: center;
    float:left;
    transform:translateY(2rem);
}
#2_nav ul li:nth-of-type(3){
    display:inline-block;
    width:auto;
    text-align: center;
    float:left;
    position: relative;
    top: -35px; transform:translateY(2rem);
}
#2_nav ul li:nth-of-type(4){
    display:inline-block;
    position: relative;
    top: -15px;
    float:right;

}
#3_nav{
    display: inline;
    float: left;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 100%;
    background-color: #f42098;
}

.pink_li{
    float: left;
    color: #F9F9F9;
    letter-spacing: .2em;
    font-size: 1.3em;
    display: inline-block;
    width: calc(100%/13);
    line-height: 20px;
    width: auto;
    margin: 0 auto;
    background-color: #f42098;
}

a{
    text-decoration: none;
    color: white;
    
}
input{
    background-color: #6c5b79;
    border:none;
    padding: 0;
    display: inline;
    text-transform: uppercase;
    padding: 1px 5px 1px 5px;
    margin: 0 0 3px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    height: 28px;
    width: 129px;
    color: #fff;
    
}
#check-out{
    color: black;
    margin-right: 15rem;
}


#phone{
    margin: 0;
    color:#ea3896;
    font-size: 22px;
    font-weight: bold;
}


li{
    display: inline;
    text-transform: uppercase;
    padding: 1px 5px 1px 5px;
    margin-left: 1.5em;
    text-decoration: none;
    color:white;
    height:30px;
}

.social{
    margin: 10rem;
    text-decoration: none;
    float: right;
    color:white;
    height:30px;
    text-transform: uppercase;
    
    

}



