html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    
}

body{
    color: #F42098;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.55;
    font-family: sans-serif;
    
    
}

header{
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: #ffffff;
    padding: 25px 0 30px 0;
    width: 1200px;
    height: 200px;

}

#header_left{
    float: left;
    margin-left: auto 0;
    
}

#one_nav{
    font-size: 1.5rem;
    width: 138px;
    height: 35px;
    display: inline;
    background-color: #6c5b79;
    
}

#one_nav ul{
    list-style: none;
    display: block;
}


#one_nav ul li:nth-of-type (1){
    display: inline-block;
    width: 138px;
    height: 35px;
    
}
#top_1{
    box-sizing: border-box;
    text-decoration-color: #ffffff;
    display: inline;
    width: 138px;
    height: 35px;
    background-color: #6c5b79;
    font-size: 14px;
    text-align: center;

}

#top_2{
    font-size: 14px;
    display: inline;
    background-color: #6c5b79;
    width: 138px;
    height: 35px;
    text-align: center;
    
}

#top_3{
    font-size: 14px;
    display: inline;
    background-color: #6c5b79;
    width: 138px;
    height: 55px;
    text-align: center;
}

#bottom_1{
    display: inline-block;
    width: 138px;
    height: 35px;
    text-align: center;
}

#bottom_2{
    display: block;
    font-size: 11px;
    
}

#bottom_3{
    display: inline-block;
}

#bottom_4{
    
}

#bottom_5{
    
}

two_nav{
    display: inline;
    width: 100%;
    
}

#two_li{
    display: inline;
    width: 100%;
    
}



